{% extends "base.html" %} {% load static %} {% block content %}

<div class="home">
  <img src="{% static 'mcdonalds-RR.jpeg' %}" alt="" class="home_img" />
  <h1 class="container text-center mt-5">Welcome to McDonalds</h1>
</div>
<div class="container my-5 py-2 px-5">
  <h5>
    It Is McDonald's, where we serve delicious and mouth-watering dishes
    prepared with love and passion. Our goal is to provide a delightful dining
    experience for our valued customers.
  </h5>
  <h5>
    At McDonald's, we believe in using the finest ingredients to create
    flavorful and satisfying meals. Whether you're here for a casual lunch, a
    family dinner, or a special celebration, we have something for every palate.
  </h5>
</div>
{% endblock content %}
